.image{
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.image-div{
    text-align: right;
    margin-top: -10px;
}
.sec-but{
    text-align:center;
}
h2, h3 {
    text-align: center;
}
button{
    padding: 20px;
    margin: 2px;
    color: black;
    background-color: #AAB6FC;
    border: 0px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}

#product-image {
    /* Задаємо розмір контейнера */
    width: 1000px;
    height: 200px;
    /* Задаємо значення object-fit */
    object-fit: scale-down;
}

.format-1{
    background-color: #E8EBFD;
    font-size: 18px;
    width: 400px;
    height: 75px;
}
.but-st{
    background-color: #C2C3C5;
    color:#E8EBFD;
    font-size: 18px;
    width: 400px;
    height: 75px;
}
.format-2{
    background-color: #E8EBFD;
    font-size: 16px;
    padding: 15px;
    width: 325px;
    margin-left: 75px;

}

.container{
    width: 10px;
    height: 10px;
}
.container-desc {
    display: flex;
    flex-direction: column;
    margin-top: -650px;
    margin-left: 420px;
    gap: 20px; /* Відстань між елементами */
    list-style: none; /* Вимкнути маркери списку */
    padding: 0;
    width: 100%; /* Контролює ширину контейнера */
}

.desc {
    text-align: left;
    font-size: 24px;
    max-width: 100%;

}

iframe {
    border: none;
    width: 70%;
    height: 450px;
    display: block;
}
.desc-button{
    text-align: left;
    max-width: 100%;
    height: 100%;
    margin-top: -500px;
    margin-left: 420px;
    font-size: 24px;
}